<h1>StudentPage</h1>
<ul class="nav justify-content-center ">
    <li class="nav-item menubar-left">
        <h2>
            <a class="nav-link active" href="http://localhost:5000/{{StudentID}}/info">Thông tin cá nhân</a>
        </h2>

    </li>
    <li class="nav-item menubar-left menubar-right">
        <h2>
            <a class="nav-link" href="http://localhost:5000/{{StudentID}}/info/score">Bảng điểm</a>
        </h2>

    </li>
    {{!--
    <li class="nav-item menubar-right menubar-left">
        <h2>
            <a class="nav-link" href="#">Kế hoạch học tập</a>
        </h2>

    </li> --}}

</ul>
<h2>Thông tin cá nhân</h2>
<form id="Stuform" name="Stuform" class="needs-validation" novalidate>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label>First name</label>
            <input type="text" class="form-control" placeholder="First name" value="{{FirstName}}" readonly>
        </div>
        <div class="col-md-4 mb-3">
            <label>Last name</label>
            <input type="text" class="form-control" placeholder="Last name" value="{{LastName}}" readonly>
        </div>
        <div class="col-md-4 mb-3">
            <label> Username </label>
            <div class="input-group">

                <input type="text" class="form-control" placeholder="Username" value="{{UserName}}" aria-describedby="inputGroupPrepend"
                    readonly>

            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Ngày tháng năm sinh</label>
            <input type="date" class="form-control" value="{{DoB}}" readonly>
            <label>Mã số sinh viên</label>
            <input type="text" class="form-control" value="{{StudentID}}" readonly>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Lớp</label>
                    <input type="String" class="form-control" value="{{Class}}" placeholder="Class" readonly>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Trình độ</label>
                    <select name="Level" id="inputState" class="form-control" disabled>
                        <option>Năm 1</option>
                        <option>Năm 2</option>
                        <option selected>Năm 3</option>
                        <option>Năm 4</option>
                        <option>Năm 5</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Ảnh nè</label>
            <img src="https://via.placeholder.com/200x200" alt="..." class="img-thumbnail rounded mx-auto d-block">
        </div>


    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input class="form-control" value="{{Email}}" placeholder="Email" readonly>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" value="{{Password}}" placeholder="Password" readonly>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label>Phường</label>
            <input type="text" class="form-control" id="validationCustom03" value="{{District}}" placeholder="City" readonly>

        </div>
        <div class="col-md-3 mb-3">
            <label for="validationCustom04">Thành phố, Quận, Huyện</label>
            <input type="text" class="form-control" id="validationCustom04" value="{{City}}" placeholder="State" readonly>

        </div>
        <div class="col-md-3 mb-3">
            <label for="validationCustom05">Tỉnh</label>
            <input type="text" class="form-control" id="validationCustom05" value="{{Province}}" readonly>

        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress">Địa chỉ</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" value="{{Address}}" readonly>
    </div>

    <a class="btn btn-primary" href="http://localhost:5000/{{StudentID}}/info/update">

        Cập nhật

    </a>
</form>

{{!-- đã lấy được giá trị trong các ô ra giờ làm thế nào để đưa nó vào 1 object xong ném vào MongoDB --}}